<header class="page-header">
<h1>What is Jungle?</h1>
</header>
<p>With tens of millions of users, Jungle’s the largest and fastest growing app to buy quircky items. Who needs boring dress shoes when you can buy Russian Spy Shoes at Jungle? Already among the top classifieds services in North America, Jungle’s users can buy everything from electronics, and collectibles to clothing, furniture and other home décor.

Our free website makes it easy to find items that would make you stand out in the crowd. But do not just take my word for it, check it out!
</p>
